# NestJS JWT settings
JWT_SECRET=superSecretKey123
JWT_EXPIRES_IN=1h
ALLOWED_CORS=["https://nextjs-with-supabase-one-blue.vercel.app","http://localhost:3001"]
# PORT=3000

# Firebase Admin SDK (all from JSON)
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=

